<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css" type="text/css">

  <title>Roisin Yates' Blog</title>
</head>
<body>
  <header id="header">
    <h1 id="blog-title">Roisin's blog</h1>
    <nav id="nav-bar">
      <ul id="nav-links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Core</a></li>
        <li><a href="#">Tech</a></li>
      </ul>
    </nav>
    <img src="../img/shutterstock_1719555385.png" alt="watercolor mushrooms with a little snail" width="250px" id="mushroom-1">
  </header>

  <div class="article-body">
    <div class="header-image">
      <img src="../img/Shutterstock_2172304505.png" alt="">
    </div>

    <h2></h2>

<footer>
    <div id="footer-image-div">
    <img src="../img/shutterstock_2139524045.png" alt="footer image of log and mushrooms" width="80%" id="footer-image">
  </div>
    <div id="footer-bar">
      <p>Blog by Roisin</p>
      <ul>
        <li>no links yet</li>
        </ul>
    </div>
  </footer>
</div>
  </body>
  </html>